name: Accessibility scan

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

permissions:
  pull-requests: write

jobs:
  scan-action:
    runs-on: ubuntu-latest
    name: Scan for accessibility issues
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      # This action requires Node 20
      - uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Scan site
        id: scan
        uses: ./
        with:
          # Required:
          url: "https://www.washington.edu/accesscomputing/AU/before.html"
          # Optional:
          baselineFile: ${{ github.workspace }}/samples/site.baseline

      # Optional: upload the report as an artifact
      - name: Upload report as artifact
        uses: actions/upload-artifact@v5
        if: success() || failure()
        with:
          name: "Accessibility report"
          path: ${{ github.workspace }}/_accessibility-reports/index.html

      # Optional: post a comment on the pull request with the summary report
      - name: Post report as comment on pull request
        uses: actions/github-script@v8
        if: github.event_name == 'pull_request'
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `${{ steps.scan.outputs['summary-report'] }}`
            })
